<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="Mercado del Plata APP" content="Mercado del Plata APP" />
		<title>Mercado del Plata</title>
		<script></script>
		<link rel='stylesheet' href='login.css'></link>
	</head>

	<body>
	
		<center><img src="Logo_Para_Blanco_2.png"></center>
		
		<div>
			<p>Login</p>
			<p id="usuario">Usuario</p>
			<input type="text" name="user" placeholder="Ingrese su usuario">
			<p id="contra">Contraseña</p>
			<input type="password" name="pass" placeholder="Ingrese su contraseña">
			<input type="submit" name="submit" value="Log In" id="boton">
		</div>

	</body>
</html>