<!DOCTYPE html>
{% load static %}

<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="Mercado del Plata APP" content="Mercado del Plata APP" />
		<title>Mercado del Plata WebApp</title>
		<script>
            
			function fecha(){

				let today = new Date();
				let dd = String(today.getDate());
				let mm = String(today.getMonth() + 1);
			
				let dd2 = today.getDay();

				const semana = ["Lunes","Martes", "Miercoles","Jueves", "Viernes", "Sabado", "Domingo"]

				today = "Hoy es " + semana[dd2-1] +" " + dd + '/' + mm

				document.getElementById("fecha").innerHTML=today
				 
			}

			

			window.addEventListener("load",fecha,false);


			window.addEventListener("keyup",e=>{
				if(e.target.matches("#busqueda")){

					if(e.key==="Escape")e.target.value="/"

					
					document.querySelectorAll(".nombre").forEach(a=>{
						a.textContent.toLowerCase().includes(e.target.value.toLowerCase())?a.classList.add("highlight")
										  :a.classList.remove("highlight")})
				
				}
			});            

        </script>
        <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/index.css' %}">
        
    </head>




    <body>

		<div id="encabezado">
			<img id="logo" src="{% static 'img/Logo_Para_Blanco_2.png' %}">
			<p id="fecha"></p>
		</div>
		<div id="contenedor-navbar">
			<nav id="navbar">
				<a id="lista-tab" class="current-tab" href="{% url 'home' %}">Lista</a>
				{% if request.user == "Pela" %}
					<a id="mov-tab" href="{% url 'mventa' %}" style="display:none">Movimientos Venta</a>
					<a id="ape-tab" href="{% url 'apedir' %}" style="display:none">A Pedir</a>
				{% else %}
					<a id="mov-tab" href="{% url 'mventa' %}">Movimientos Venta</a>
					<a id="ape-tab" href="{% url 'apedir' %}">A Pedir</a>
				{% endif %}
				<a href="{% url 'logout' %}">Cerrar Sesión</a>
				<a>Modo Oscuro</a>
			</nav>
		</div>



        {% block content %}

        {% endblock content%}

       
        
    </body>
</html>