<!DOCTYPE html>
{% load static %}

<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'styles/main.css' %}">
    <!--<script src='main.js'></script>-->
    <title>Mercado Del Plata App</title>
</head>



<body>

    <header>
        
        <h1><a href="/">Logo</a></h1>
        
    </header>

    <div>

        <ul>
            <a class="Menu" href="{% url 'home' %}">Productos</a>
            <a class="Menu">Pedido</a>
            <a class="Menu">Movimientos</a>
            <a class="Menu">Clientes</a>
            <a class="Menu" href="{% url 'detalle_pedidos' %}">Detalle Pedidos</a>

         </ul>


    </div>



    {% block content %}

    {% endblock %}

    <footer>
        
        <small>Mercado del Plata todos los derechos Reservados</small>

    </footer>
    
</body>
</html>