/*paleta*/

:root{
	--celeste-oscuro:rgb(58,128,158);
	--celeste-mas-oscuro: rgb(35,77,94);
	--celeste: rgb(82,181,223);
	--celeste-claro: rgb(87,190,235);
	--celeste-intermedio: rgb(73,159,196);

}

