{% extends 'main.html' %}

{% block content %}



<table>

    <thead>

    <tr>
        <th>Aclaraciones</th>
        <th>Cantidad</th>
        <th>Código</th>
        <th>Nombre</th>
        <th>Precio</th>
    </tr>

    </thead>



    <tbody>
        <form method='POST' action="">
        {% csrf_token %}

    {% for i in productos %}

        <tr>
            <td><input type="text"></td>
            <td>{{i.codigo}}</td>
            <td>{{i.nombre}}</td>
            <td>{{i.precio}}</td>
        </tr>
       
        {% endfor %}
        
        </form>
    </tbody>   

</table>



{% endblock %}
